span{
    height: 50px;
    width: 75px;
    background: #ec5d5d70;
}

div{
    height : 100px;
    width : 40px;
    background : #5d9becd7
}

p{
    height: 50px;
    width: 100px;
    background: #259e0793;
}